.element__like {
  margin: 0;
  padding: 0;

  border: none;

  width: 22px;
  height: 19px;

  position: relative;

  background: url(../../../images/elements__like.svg);
  background-position: center;
  background-repeat: no-repeat;
}
