.popup__window {
  box-sizing: border-box;
  margin: 150px auto auto;
  padding: 36px;

  min-width: 430px;
  min-height: 330px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  z-index: 2;
}

