.popup__window {
  box-sizing: border-box;
  margin: 150px auto auto;
  padding: 36px;

  position: relative;

  max-width: 430px;
  max-height: 330px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .popup__window {
    margin: 123px auto auto;
    padding: 25px 22px;

    max-width: 282px;
    max-height: 322px;
  }
}
